
.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: rgb(237, 181, 190);
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
    
}

.nav-items >ul > li {
  padding: 10px;
  margin: 20px;
}
.logo{
  width: 150px;
  margin: 20px;
  padding:auto;
}

.card {
  width: 230px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;

}

.card > img {
  width: 100% ;
}

.restaurant-list { 
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
  width: 200px;
  height: 200px;
  background: lightgray;
  margin: 20px;
}

.menu {
  display: flex;
}

.Image{
  width: 500px;
  height: 500px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.myProfile {

  height: 500px;

}